<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask Test</title>
</head>
<body>
    	<h1 align="center">Highscore Prototype</h1>
	<table align="center" border="1" cellspacing="0">
		<th colspan="3" bghcolor="#000000"><font color="#000000">Highscore</font></th>
			<tr align="center">
				<td width="150" bgcolor="#FFFFFF">Position </font></td>
				<td width="150" bgcolor="#FFFFFF">Name</td>
				<td width="150" bgcolor="#FFFFFF">Ranking</td>
			</tr>
			<tr align="center">
				<td width="150" bgcolor="#FFFFFF">First</td>
				<td width="150" bgcolor="#FFFFFF">Player 1</td>
				<td width="150" bgcolor="#FFFFFF">1000</td>
			</tr>
			<tr align="center">
				<td width="150" bgcolor="#FFFFFF">Second</td>
				<td width="150" bgcolor="#FFFFFF">Player 2</td>
				<td width="150" bgcolor="#FFFFFF">900</td>
			</tr>
			<tr align="center">
				<td width="150" bgcolor="#FFFFFF">Third</td>
				<td width="150" bgcolor="#FFFFFF">Player 3</td>
				<td width="150" bgcolor="#FFFFFF">700</td>
			</tr>


	</table>
</body>
</html>