<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask Test</title>
</head>
<body>
    	<h1 align="center">Highscore Prototype</h1>
	<table align="center" border="1" cellspacing="0">
		<th colspan="3" bghcolor="#000000"><font color="#000000">Highscore</font></th>
			<tr align="center">
				<td width="150" bgcolor="#FF0000"><font color="#FFFFFF"> Position </font></td>
				<td width="150" bgcolor="#00FF00"> Name </td>
				<td width="150" bgcolor="#0000F"><font color="#FFFFFF"> Ranking</font> </td>
			</tr>
			<tr align="center">
				<td width="150" bgcolor="#FF0000"><font color="#FFFFFF"> First </font></td>
				<td width="150" bgcolor="#00FF00"> Player 1 </td>
				<td width="150" bgcolor="#0000F"><font color="#FFFFFF"> 1000</font> </td>
			</tr>
			<tr align="center">
				<td width="150" bgcolor="#FF0000"><font color="#FFFFFF"> Second </font></td>
				<td width="150" bgcolor="#00FF00"> Player 2 </td>
				<td width="150" bgcolor="#0000F"><font color="#FFFFFF"> 900</font> </td>
			</tr>
			<tr align="center">
				<td width="150" bgcolor="#FF0000"><font color="#FFFFFF"> Third </font></td>
				<td width="150" bgcolor="#00FF00"> Player 3 </td>
				<td width="150" bgcolor="#0000F"><font color="#FFFFFF"> 700</font> </td>
			</tr>


	</table>
</body>
</html>